.home {
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 1500px;
	background-color: rgb(174, 178, 199);
	
}

.home__image {
	width: 100%;
	z-index: -1;
	margin-bottom: -270px;
	background-color: linear-gradient(to margin-top, rgb(179, 53, 53), rgba(155, 0, 0, 0));
}

.home__row {
	display: flex;
	z-index: 1;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}
  