.container {
	display: flex;
	 flex-direction: column;
	align-items: center;
	justify-content: center; 
  }
  
  .loginBox {
	background-color: rgb(130, 128, 240);
	margin-top: 20px;
	height: 500px;
	width: 500px;
	border: 1px solid gray;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .emailInput, .passInput {
	width: 350px;
	padding: 15px;
	border-radius: 15px;
	border: 1px solid gray;
  }
  
  .passInput {
	margin-top: 10px;
  }
  
  .loginPageBtn {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 20px;
  }
