.payment {
	background-color: white;
}

.payment__container > h1 {
	text-align: center;
	font-weight: 400;
	padding: 10px;
	border-bottom: 1px solid #333;
	display: flex;

}

.payment__section {
	display: flex;
	padding: 20px;
	margin: 0 20px;
	border-bottom: 1px solid lightgray;
}

.payment__title {
	flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
	flex: 0.8;
}

.paymentBtns {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.CODBtn {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
}
 
.addressInput {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	outline: none;
}