*{
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
  }

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    background-color: orange;
}
header{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.input-field, form .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-field input{
    /* margin: 14px;
    padding: 5px 5px;
    align-items: center;
    height: 70%;
    width: 70%;
    border: 1px solid silver;
    outline: none;
    font-size: 15px;
    transition: .4s; */
    padding: 10px;
    margin-top: 30px;
    width: 300px;
    border: 1px solid gray;
    outline: none;
}
form .button{
    padding: 5px 5px;
    margin-top: 340px;
    overflow: hidden;
    z-index: 100;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button button{
    width: 50%;
    height: 100%;
    color: red;
    font-size: 20px;
    cursor: pointer;
    font-family: sans-serif;
}
#user{
    color: brown;
}
#pass{
    color: brown;
}