.subtotal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 100px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	border-radius: 19px;
}

.subtotal__gift {
	display: flex;
	align-items: center;
}

.subtotal__gift > input {
	margin-right: 5px;
}

.subtotal > button {
	background: #f04b4b;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 2px solid;
	margin-top: 10px;
	border-color: #070707 #1a1816 #000000;
	color: #111;
	border-radius: 19px;
}
